@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --primary-110: #C256C7;
    --primary-100: #F26CF9;
    --primary-90: #F589FA;
    --primary-50: #FCD3FE;
    --primary-40: #FCE2FE;
    --primary-30: #FDEDFE;
    --secondary-110: #1C2346;
    --secondary-100: #37437D;
    --secondary-90: #5562A2;
    --secondary-70: #707DBF;
    --secondary-60: #ABB4DD;
    --secondary-50: #D3DAF9;
    --yellow-100: #FFCA39;
    --yellow-90: #FFEFC3;
    --grey-10: #FFFFFF;
    --grey-20: #F7F7F7;
    --grey-30: #EDEDED;
    --grey-40: #E0E0E1;
    --grey-50: #C3C3C4;
    --grey-60: #9F9FA1;
    --grey-70: #777779;
    --grey-80: #636365;
    --grey-90: #434345;
    --grey-100: #1E1E20;
    --cool-grey-10: #EEEFFF;
    --cool-grey-20: #E4E5F5;
    --cool-grey-30: #DDDEED;
    --cool-grey-40: #D1D2E0;
    --cool-grey-50: #B0B1BD;
    --cool-grey-60: #8F8F99;
    --cool-grey-70: #72737A;
    --cool-grey-80: #56565C;
    --cool-grey-90: #39393D;
    --cool-grey-100: #131314;
}

html, body {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-family: "Inter", sans-serif;
    color: var(--grey-100);
}

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.portal-wrapper {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "nav" "main" "footer";
    height: 100dvh;
    background-color: var(--grey-10);

    @media (width >= 768px) {
        grid-template-columns: 250px 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "nav header" "nav main" "nav footer";
    }

    @media (width >= 1400px) {
        grid-template-columns: 165px 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "nav header" "nav main" "nav footer";
    }
}

nav {
    grid-area: nav;
    background-color: var(--cool-grey-10);
    border-radius: 1rem;
    padding: 1rem;
    margin: .7rem;
    width: 100%;
    
    .nav-btns {
        display: flex;
        flex-direction: column;
        margin-top: 1.2rem;

        a{
            border: none;
            background-color: transparent;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: .8rem;
            margin-top: .3rem;
            text-decoration: none;
        
            p {
                color: var(--secondary-100);
                font-family: "Inter", sans-serif;
                font-size: 14px;
                
            }

            i {
                display: block;
                color: var(--secondary-100);
                font-size: 14px;
            }
        }

        a:hover {
            cursor: pointer;
            p {
                color: var(--primary-100);
            }

            i {
                color: var(--primary-100);
            }
        }
    }
    
}

header {
    grid-area: header;
    display: flex;
    background-color: var(--grey-10);
    border-radius: 1rem;
    margin: .7rem;
    justify-content: space-between;

    h2 {
        font-weight: 600;
        color: var(--secondary-100);
        margin: 0;
        margin-top: 1rem;
        margin-left: .5rem;
    }

    p {
        font-size: 14px;
        color: var(--grey-70);
        margin: 0;
        margin-top: .5rem;
        margin-left: .5rem;
    }

    img {
        margin-top: 1rem;
        margin-right: 1rem;
    }

    img:hover {
        cursor: pointer;
    }

}

main {
    grid-area: main;
    background-color: var(--grey-20);
    border-radius: 1rem;
    margin-right: .7rem;
    margin-left: .7rem;
}

.events {
    padding: 1.5rem;

    .cards {

        #events {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 2rem;
        }

        a {
            background-color: var(--grey-10);
            border-radius: 13px;
            padding: 0;
            cursor: pointer;
            text-decoration: none;

            .card-header {
                background-color: var(--grey-40);
                border-radius: 13px 13px 0 0;
                padding-bottom: 6rem;
                padding-top: 3rem;
                padding-left: 1rem;
            }

            .card-main {
                padding-right: 1.1rem;
                padding-left: 1.1rem;

                h4 {
                    font-weight: 600;
                    font-size: 16px;
                    margin: 0;
                    padding-top: 1rem;
                    padding-bottom: .6rem;
                    color: var(--grey-100);
                }

                p {
                    margin: 0;
                    color: var(--grey-80);
                    font-weight: 400;
                    font-size: 14px;
                }
            }

            .card-footer {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-left: 1.1rem;
                padding-right: 1.1rem;

                i {
                    color: var(--grey-40);
                }

                p {
                    font-weight: 400;
                    font-size: 14px;
                    margin: 0;
                    color: var(--grey-100);

                }

                .text-primary {
                    color: var(--primary-100);
                    font-weight: 700;
                    font-size: 20px;
                    padding-top: 1rem;
                    padding-bottom: 1.3rem;
                }

                .date {
                    align-items: center;
                    display: flex;
                    flex-direction: row;
                    gap: .5rem;
                    padding-top: 1rem;
                    padding-bottom: 1.3rem;
                }
            }
        }
        
    }
}

.eventDetails {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    gap: 1.5rem;

    .details-right {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .text {
            background-color: var(--grey-10);
            border-radius: 13px;
            padding: 1.5rem;

            h4 {
                margin: 0;
                font-weight: 600;
                font-size: 18px;
            }

            p {
                margin: 0;
                font-weight: 400;
                font-size: 14px;
                margin-top: .4rem;
            }
        }
        

        .card {
            background-color: var(--grey-10);
            /* padding-bottom: 4rem; */
            border-radius: 13px;

            .card-header {
                background-color: var(--grey-40);
                border-radius: 13px 13px 0 0;
                padding-bottom: 30vh;
                padding-top: 3rem;
                padding-left: 1rem;
                padding-right: 45vw;
            }

            .card-main {
                padding-right: 1.1rem;
                padding-left: 1.1rem;

                h4 {
                    font-weight: 600;
                    font-size: 26px;
                    margin: 0;
                    padding-top: 1rem;
                    padding-bottom: .6rem;
                    color: var(--grey-100);
                }

                p {
                    margin: 0;
                    color: var(--grey-80);
                    font-weight: 400;
                    font-size: 14px;
                }
            }

            .card-footer {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-left: 1.1rem;
                padding-right: 1.1rem;

                i {
                    color: var(--grey-40);
                }

                p {
                    font-weight: 400;
                    font-size: 14px;
                    margin: 0;
                    color: var(--grey-100);

                }

                .text-primary {
                    color: var(--primary-100);
                    font-weight: 700;
                    font-size: 20px;
                    padding-top: 1rem;
                    padding-bottom: 1.3rem;
                }

                .date {
                    align-items: center;
                    display: flex;
                    flex-direction: row;
                    gap: .5rem;
                    padding-top: 1rem;
                    padding-bottom: 1.3rem;
                }
            }
        }
    }

    .details-left {

        .packages {
            display: flex;
            flex-direction: column;
            padding: 1.5rem;
            padding-top: 0;
            background-color: var(--grey-10);
            border-radius: 13px;

            h4 {
                font-weight: 600;
                font-size: 20px;
            }

            .book-btn {
                text-decoration: none;
                background-color: var(--primary-100);
                color: var(--grey-10);
                padding: .6rem;
                border-radius: 15px;
                width: 35%;
                font-size: 14px;
                text-align: center;
                align-self: center;
            }

            .book-btn:hover {
                background-color: var(--primary-110);
                cursor: pointer;
            }

            .package {
                background-color: var(--grey-20);
                display: flex;
                flex-direction: row;
                border-radius: 10px;
                margin-bottom: 1rem;
                padding: .12rem;

                .space {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    align-items: center;
                }

                h4 {
                    font-size: 16px;
                    margin: 0;
                }

                .text-primary {
                    color: var(--primary-100);
                    font-weight: 700;
                    font-size: 16px;
                    margin: 0;
                    padding: 1rem;
                    padding-left: 2rem;
                }

                input {
                    margin: 1rem;
                }
            }
        }
    }
}

.booking {
    padding: 1.5rem;
    display: flex;
    justify-content: center;

    .section {
        background-color: var(--grey-10);
        border-radius: 13px;

        h1 {
            font-weight: 700;
            text-align: center;
            color: var(--secondary-100);
            padding-right: 11rem;
            padding-left: 11rem;
            margin-bottom: 1rem;
            margin-top: 2rem;
        }

        h2 {
            font-weight: 600;
            text-align: center;
            margin: 0;
            padding: 0;
        }

        .input-group {
            display: flex;
            flex-direction: column;

            label {
                padding-top: 1rem;
                font-size: 14px;
                padding-bottom: .3rem;
                margin-right: 4rem;
                margin-left: 4rem;
            }

            input {
                font-size: 12px;
                padding: .3rem;
                margin-right: 4rem;
                margin-left: 4rem;
            }
        }

        .book-btn {
            text-decoration: none;
            background-color: var(--primary-100);
            color: var(--grey-10);
            padding: .6rem;
            border-radius: 15px;
            width: 16%;
            font-size: 14px;
            border: none;
            display: grid;
            justify-self: center;  
            text-align: center;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;        
        }

        .book-btn:hover {
            background-color: var(--primary-110);
            cursor: pointer;
        }
        
    }
}


footer {
    grid-area: footer;
    background-color: var(--grey-20);
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: .7rem;
    height: 50px;
    margin-right: .7rem;
    margin-left: .7rem;
    

    .footer-text {
        display: flex;
        flex-direction: row;
        gap: 1.3rem;
        align-items: center;
    }

    p {
        font-weight: 600;
        color: var(--grey-70);
        font-size: 12px; 
    }

    .text-grey {
        font-weight: 400;
        color: var(--grey-50);
    }

    .footer-social {
        display: flex;
        flex-direction: row;
        gap: .8rem;
        align-items: center;

        img {
            cursor: pointer;
        }
    }


}